body {
    display: flex;
    justify-content: center;
}
.botao {
    width: 30%;
    border: thin grey solid;
    background-color: thistle;
    text-align: center;
}
.container {
    width: 90%;
    background-color: cornsilk;
}
.imagem {
    width: 30%; 
}
.foto {
    width: 100%;
}